*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

#body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.startingStatus{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.orangeButton{
    background-color: #fd7e14;
    border-color: #fd7e14;
}

.orangeButton:hover{
    background-color: #dc3545;
    border-color: #dc3545;
}

.tealButton{
    background-color: #20c994;
    border-color: #20c994;
}

.tealButton:hover, .tealButton:active{
    background-color: #198754;
    border-color: #198754;
}

.footer {
    font-family: sans-serif;
    font-size: 11px;
    color: grey;
    text-align: center;
}

.special {
    font-size: 13px;
    color: grey;
}

.doNotDisplay{
    display: none;
}

.doDisplay{
    display: block;
}
