*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.footer {
    font-size: 11px;
    color: grey;
}

.special {
    font-size: 20px;
    color: purple;
}